<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/index.css">
        <script href="../static/index.js"></script>
        <script type="text/javascript">var data = {{data|tojson}}</script>
        <title></title>
    </head>
    <body>

        {% if page == 'home' %}

        <form class="" action="/go" method="post">
            <textarea name="thread_content" rows="8" cols="80"></textarea>
            <input type="checkbox" name="preserve_whitespace" value="preserve_whitespace">Preserve whitespace?<br>
            <input type="submit" name="submit_button" value="Go">
        </form>

        {% elif page == 'go' %}

            {% for tweet in data.tweets %}

                <p>{{tweet}}</p>

            {% endfor %}

        <form class="" action="/auth" method="post">
            <input type="submit" name="auth_button" value="Login to Twitter">
        </form>

        {% elif page == 'share' %}

        <p>Share page coming soon!</p>

        {% endif %}
    </body>
</html>
