<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/index.css">
        <script href="../static/index.js"></script>
        <script type="text/javascript">var data = {{data|tojson}}</script>
        <title></title>
    </head>
    <body>

        {% if page == 'home' %}

            <form class="" action="/go" method="post">
                <textarea name="thread_content" rows="20" cols="40"></textarea>
                <input type="checkbox" name="preserve_whitespace" value="preserve_whitespace">Preserve whitespace?<br>
                <input type="submit" name="submit_button" value="Go">
            </form>

        {% elif page == 'go' %}

            <form class="" action="/auth" method="post">
                <input type="submit" name="auth_button" value="Login to Twitter">
            </form>
            <form class="" action="/home" method="get">
                <input type="submit" name="home_button" value="Start Over">
            </form>

            {% for tweet in data.tweets %}

                <p style="white-space:pre;">{{tweet}}</p>

            {% endfor %}

        {% elif page == 'share' %}

            <p>Share page coming soon!</p>

            <form class="" action="/home" method="get">
                <input type="submit" name="home_button" value="Start Over">
            </form>

        {% endif %}
    </body>
</html>
